body {
  color: rgba(33, 106, 115, 1 );
  font-family: "Palatino";
  font-size: xx-large;
  background-image:url(me.jpg);
  background-repeat:no-repeat;
  background-size:100% 19%;
  background-color: rgba(161, 185, 221, 0.81)
}
p1, p2, p3 {  transform-origin: 50% 100%;
animation-duration: 4s;
animation-name: fadeAndScale;
animation-timing-function: ease-in;
}
h2, h4 {
  font-family: "Marker Felt";
  text-align: center;
  padding: 1px;
  transform-origin: 50% 100%;
  text-shadow: 2px 2px 2px #333;

animation-duration: 2s;
animation-name: fadeAndScale;
animation-timing-function: ease-in;
}
@keyframes fadeAndScale {
from {
    opacity: 0;
    transform: scale(.9, .9);
}
to {
    opacity: 1;
    transform: scale(1, 1);
}
}

.image:before {
   content:url(pints.jpg);
   float: right;
   width: 400;
   padding-right: 300px;
   padding-bottom: 300px:
}
img {
  padding: 10px;
}
p1, p2 {
  text-align: left;
  margin: 10px;
}
p3 {
  text-align: right;
  padding: 10px;
}

  #sidebar side:hover {
    position: fixed;
    width: 35%;
    height: 132px;
    color: rgba(225, 153, 76, 0.78);
    font-size: medium;
    left: 0;
    padding-bottom: 8px;
  }
  ul {
    font-size: 28px;
    color: purple;
  }

  footer {
    font-size: small;
    background-color: black;
    color: white;
    text-align: center;
  }
